.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    background-color: white;
    width: 70px;
    z-index: 200;
}
.sidebar-link{
    height: 75px;    
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sidebar-link:hover{
    background-color: lightgray;
    cursor: pointer;
}
.sidebar-link img{
    height: 25px;
}
.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}